<div class="content">
    <div id="titre"><img src="/assets/titre.png" /></div>
    <p>Remplissez votre email et participez au tirage au sort qui aura lieu le 15 Juillet 2013. C'est l'occasion<br/> de découvrir de nouveaux sites internet et de gagner plus de 3 000€ de cadeaux !</p>
    <div id="champ">
    		<fieldset class = "champ">
            	<label for="email">EMAIL </label>
                <input type="email" name="email" size="30" maxlength="60" placeholder="Entrez votre adresse mail" id="email" />
    		</fieldset>
         <input type="submit" value="JE PARTICIPE" />
        <div class="error"></div>
    </div>
    <div id="dotation">
        <div id="thebeautyst"><a href="http://www.thebeautyst.com" target="_blank"><img src="/assets/thebeautyst.png" /></a></div>
        <div id="lemoncurve"><a href="http://www.lemoncurve.com" target="_blank"><img src="/assets/lemoncurve.png" /></a></div>
        <div id="madeleine"><a href="http://www.madeleinemarket.com" target="_blank"><img src="/assets/madeleinemarket.png" /></a></div>
        <br/>
        <div id="thetops"><a href="http://www.thetops.fr" target="_blank"><img src="/assets/thetops.png" /></a></div>
        <div id="carnetdemode"><a href="http://www.carnetdemode.com" target="_blank"><img src="/assets/Jeu concours5-2.png" /></a></div>
    </div>
    <div id="conditions">
    En validant votre participation, vous acceptez le réglement et vous acceptez de recevoir la newsletter de nos partenaires.<br/>
    Si vous souhaitez participer sans vous abonner, veuillez cliquer sur <a href="http://">ce lien</a>
    </div>
</div>
