<div class="content">
    <div id="titre"><img src="/assets/titre.png" /></div>
    <p>Le jeu est terminé depuis le 14 juillet ! Merci de votre visite.<br/> <a style="text-decoration: underline;font-weight:bold;"href="http://www.thebeautyst.com" target="_blank">Découvrez toutes les astuces et conseils beauté sur The Beautyst.</a></p>
    <div id="dotation">
        <div id="thebeautyst"><a href="http://www.thebeautyst.com" target="_blank"><img src="/assets/thebeautyst.png" /></a></div>
        <div id="lemoncurve"><a href="http://www.lemoncurve.com" target="_blank"><img src="/assets/lemoncurve.png" /></a></div>
        <div id="madeleine"><a href="http://www.madeleinemarket.com" target="_blank"><img src="/assets/madeleinemarket.png" /></a></div>
        <br/>
        <div id="thetops"><a href="http://www.thetops.fr" target="_blank"><img src="/assets/thetops.png" /></a></div>
        <div id="carnetdemode"><a href="http://www.carnetdemode.com" target="_blank"><img src="/assets/Jeu concours5-2.png" /></a></div>
    </div>
    <div id="conditions">
    En validant votre participation, vous acceptez le réglement et vous acceptez de recevoir la newsletter de nos partenaires.<br/>
    Vous pouvez consulter le règlement de ce jeu en cliquant <a href="/attestation-jeu-concours-the-beautyst.pdf" target="_blank">ici</a>
    </div>
</div>
