<div class="jumbotron">
	<div class="row">
		<h1><img src="images/pockiz.x2.png" alt="Pockiz" width="123" height="33" /></h1>
		<h2>A social marketplace for <strong>teens</strong> to curate, buy &amp; share products.</h2>
		<h3>Get notified when you can use Pockiz:</h3>
		<div class="newsletter"> 
			<!-- add class hidden to hide newsletter signup -->
			<!-- add class error to show error message -->
			<input type="email" name="email" id="email" placeholder="What's your email address?">
			<button>Submit</button>
			<div class="error-msg"></div>
		</div>
	</div>
</div>
<div class="mac-display"></div>
<div class="marketing">
	<div class="discover">
		<h3>Discover</h3>
		<p>Curabitur blandit tempus porttitor. Maecen as faucibus mollis interdum. Vestibulum ligula porta felis euismod semper.</p>
	</div>
	<div class="share">
		<h3>Share</h3>
		<p>Curabitur blandit tempus porttitor. Maecen as faucibus mollis interdum. Vestibulum ligula porta felis euismod semper.</p>
	</div>
	<div class="buy">
		<h3>Buy</h3>
		<p>Curabitur blandit tempus porttitor. Maecen as faucibus mollis interdum. Vestibulum ligula porta felis euismod semper.</p>
	</div>
</div>
<div class="landing-products">
	<div class="products-label">Products <span>on</span> Pockiz</div>
	<div class="products-container">
		<ul>
			<li><a href="#"><img src="images/products2/57.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/37.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/07.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/48.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/15.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/61.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/26.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/38.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/31.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/45.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/17.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/06.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/39.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/24.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/53.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/58.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/56.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/70.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/42.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/72.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/63.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/66.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/35.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/55.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/69.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/16.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/20.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/74.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/64.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/27.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/49.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/59.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/44.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/11.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/50.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/29.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/36.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/54.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/04.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/25.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/76.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/52.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/28.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/43.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/47.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/75.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/03.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/18.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/62.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/34.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/12.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/71.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/30.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/33.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/67.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/73.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/10.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/08.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/23.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/13.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/19.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/32.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/02.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/46.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/41.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/09.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/65.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/22.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/51.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/68.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/40.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/01.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/05.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/14.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/60.jpg" alt=""></a></li>
			<li><a href="#"><img src="images/products2/21.jpg" alt=""></a></li>
		</ul>
	</div>
</div>
<div class="footer">
	<div class="row social">
		<a href="http://www.facebook.com/pockiz.us" class="btn btn-facebook" target="_blank">Like us on Facebook</a>
		<a href="https://twitter.com/pockiz_us" class="btn btn-twitter" target="_blank">Follow us on Twitter</a>
		<a href="http://pinterest.com/pockiz/" class="btn btn-pinterest" target="_blank">Follow us on Pinterest</a>
	</div>
	<div class="row">
		<p class="copyright">Copyright © 2013 Pockiz, Inc. All screenshots © their respective owners.<br />Handcrafted by <a href="#">Enthusiastik</a>.</p>
	</div>
</div>
<div id="overlay"></div>
<div id="modal2" class="thank-you">
	<div class="header">
		<h2>Thank you for signing up to Pockiz</h2>
		<p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiamporta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
		<a href="#" class="close"><img src="images/btn-x.png" alt="Close" /></a>
	</div>
	<div class="share-section">
		<a href="https://www.facebook.com/dialog/feed?
				  app_id=477706475585963&
				  link=http://www.pockiz.com&
				  picture=&
				  name=Pockiz&
				  caption=The%20first%20social%20shopping%20website%20for%20teens&
				  description=Pockiz%20is%20a%20social%20marketplace%20for%20teens%20to%20curate,%20buy%20and%20share%20products.&
				  redirect_uri=http://www.pockiz.com" class="facebook">
			Share on Facebook
		</a>
		<a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2Fusers%2F103%2Ffriends&source=tweetbutton&text=Just%20joined%20%40pockiz_us.%20Come%20and%20discover%20cool%20products%20to%20buy%20with%20your%20allowances!%20%20&url=http%3A%2F%2Fwww.pockiz.com" class="twitter">
			Share on Twitter
		</a>
		<a href="#" class="pinterest">
			Share on Pinterest
		</a>
	</div>
	<div class="content">
		<h3>Want Priority Access?</h3>
		<p>Get early access by inviting at least 3 friends. The more friends that you invite, the earlier you get access.</p>
		<div class="copy-code">
			<p>Copy the link below and share it with your friends.</p>
			<div class="input"><input type="text" value="http://pk.is/56yHH79gaZa" /></div>
			<div class="submit"><input type="button" value="Copy" /></div>
		</div>
	</div>
</div>