<!--Opt-in Section-->
<section class="bluebg" id="signup">

    <div class="container msg">
        <div id="message" style="display:none"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 opt-container">
            <h1>Say good bye to generic cms softwares</h1>
            <h2>Signup absolutly <span>FREE</span> to .Square now and start creating your websites.</h2>
            <form id="contactform" action method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input name="name" type="text" id="name" placeholder="Enter Your Name" >
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input name="email" type="text" id="email" placeholder="Enter Your Email">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <input name="phone" type="text" id="phone" placeholder="Enter Your Phone">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <input class="btn-blue" type="button" value="submit" id="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>