<!--Features Section-->
<section class="feature-styles" id="features" >
    <div class="container feature-container">
        <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="/assets/body/devtime-img.png" alt="How it works?"></div>
            <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
                <h1>Automated customer segmentation and product recommendation</h1>
                <div class="txt">Our predictive analysis engine generates smart customer segments and product recommendation for each type of user. You have new users, recurrent buyers and sleeping customers? We have an emailing plan with recommanded products specifically triggered for each of them. </div>
                <div class="getstarted"><a href="#signup">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
            </div>


        </div>
        <div class="container feature-container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="/assets/body/howitwork-img1.png" alt="Reduce development time"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>No coding is required on your side!</h1>
                <div class="txt">All you need to do is sign up and choose your plan, we take care of all the rest! DataRec simplifies product recommandation all the way from data extraction to email performance analysis. </div>
                    <div class="getstarted"><a href="#signup">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
                </div>

            </div>
            <div class="container feature-container">
                <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
                    <img src="/assets/body/alldevices-img.png" alt="Works on all devices"></div>
                    <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
                        <h1>Monitor your email performances at a glance</h1>
                        <div class="txt">Thanks to our advanced analytics dashboard, you can monitor your opening rates, click-through rates and revenues from anywhere. Personnalized product recommandation improve on average sales of 20%! So start the experience today and watch your ROI improve! </div>
                        <div class="getstarted"><a href="#signup">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
                    </div>
                </div>
            </section>