<!--Features Section-->
<section class="feature-styles" id="features" >
    <div class="container feature-container">
        <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="feature-icon red hidden-xs"><i class="fa fa-trello" ></i></div>
            <div class="feature-icon green hidden-xs"><i class="fa fa-laptop" ></i></div>
            <img src="/assets/body/howitwork-img1.png" alt="How it works?"></div>
            <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
                <h1>How it works?</h1>
                <div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
                <div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
            </div>


        </div>
        <div class="container feature-container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="feature-icon blue hidden-xs"><i class="fa fa-trello" ></i></div>
                <div class="feature-icon orange hidden-xs"><i class="fa fa-laptop" ></i></div>
                <img src="/assets/body/devtime-img.png" alt="Reduce development time"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1>Reduce development time</h1>
                    <div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
                    <div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
                </div>

            </div>
            <div class="container feature-container">
                <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
                    <div class="feature-icon pgreen hidden-xs"><i class="fa fa-trello" ></i></div>
                    <div class="feature-icon yellow hidden-xs"><i class="fa fa-laptop" ></i></div>
                    <img src="/assets/body/alldevices-img.png" alt="Works on all devices"></div>
                    <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
                        <h1>Works on all devices</h1>
                        <div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment. Suspendisse ut eleifend sem, nec iaculis nulla. </div>
                        <div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>
                    </div>
                </div>
            </section>