<!-- Footer Section-->
<section id="contact">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center xdivider"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
        <div class="footer-nav text-center">
            <ul class="navi">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="social-icons text-center">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="copyright">Copyright © 2014 DataRec. All rights reserved.</div>
    </div>
</section>