<!--Header Section-->
<div id="home" class="top">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo">
            <img src="/assets/header/logo.png" alt=".Square">
        </div>
        <!--Navigation-->
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right ">
            <div class="nav">
                <ul class="navi">
                    <li ><a href="#home">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#signup">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>