<!--Pricing Table Section-->
<section id="pricing">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pricing">
            <h1>Singup to .Square</h1>
            <h2>Start creating your websites now!</h2>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bggray price">
                <div class="package">Basic</div>
                <div class="divider"></div>
                <div class="amount">$19</div>
                <div class="duration">monthly</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>2 Websites</li>
                        <li>1 Users</li>
                        <li>2 GB Storage</li>
                        <li>1000 GB Bandwith</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bgorange price">
                <div class="package">Standard</div>
                <div class="divider"></div>
                <div class="amount">$29</div>
                <div class="duration">monthly</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>2 Websites</li>
                        <li>1 Users</li>
                        <li>2 GB Storage</li>
                        <li>1000 GB Bandwith</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bgblue price">
                <div class="package">Premium</div>
                <div class="divider"></div>
                <div class="amount">$39</div>
                <div class="duration">monthly</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>2 Websites</li>
                        <li>1 Users</li>
                        <li>2 GB Storage</li>
                        <li>1000 GB Bandwith</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>

            </div>
        </div>
    </div>
</section>