<!--Pricing Table Section-->
<section id="pricing">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pricing">
            <h1>Singup to DataRec</h1>
            <h2>Start optimizing your conversion rate today!</h2>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bggray price">
                <div class="package">Starter</div>
                <div class="divider"></div>
                <div class="amount">129€</div>
                <div class="duration">monthly</div>
                <div class="divider"></div>
                <div class="duration">Set-up fee: 500€</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>< 10,000 subscribers</li>
                        <li>Customer segmentation</li>
                        <li>Customizable email template</li>
                        <li>Customizable emailing plan</li>
                        <li>Unlimited emailing</li>
                        <li>Advanced analytics</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bgorange price">
                <div class="package">Business</div>
                <div class="divider"></div>
                <div class="amount">229€</div>
                <div class="duration">monthly</div>
                <div class="divider"></div>
                <div class="duration">Set-up fee: 500€</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>< 50,000 subscribers</li>
                        <li>Customer segmentation</li>
                        <li>Customizable email template</li>
                        <li>Customizable emailing plan</li>
                        <li>Unlimited emailing</li>
                        <li>Advanced analytics</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pricing-box">
            <div class="bgblue price">
                <div class="package">Enterprise</div>
                <div class="divider"></div>
                <div class="amount">229€</div>
                <div class="duration">monthly</div>
                <div class="divider"></div>
                <div class="duration">Set-up fee: 1000€</div>
            </div>
            <div class="featcontent">
                <div class="feat-list">
                    <ul>
                        <li>> 50,000 subscribers</li>
                        <li>Customer segmentation</li>
                        <li>Customizable email template</li>
                        <li>Customizable emailing plan</li>
                        <li>Unlimited emailing</li>
                        <li>Advanced analytics</li>
                        <li>Customized recommandation engine</li>
                        <li>White label solution</li>
                        <li>Phone and chat support</li>
                    </ul>
                </div>
                <div class="signup-btn"><a href="#">Signup now</a></div>
            </div>
        </div>
    </div>
</section>