<!--Opt-in Section-->
<section class="bluebg" id="signup">
    <div class="container msg">
        <div id="message" style="display:none"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 opt-container">
            <h1>Start optimizing your conversion rate today!</h1>
            <h2>Get in touch with DataRec <span>now</span>:</h2>
            <form id="contactform" action method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input name="company" type="text" id="company" placeholder="Company Name" >
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input name="email" type="text" id="email" placeholder="Email Address" >
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 username">
                        <input name="username" type="text" placeholder="username" >
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <input class="btn-blue" type="submit" value="submit" id="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>