<section class="banner">
    <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(/assets/header/banner1.png);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Simple product recommendations</h1>
                                <h2>Each user is unique, treat them accordingly.</h2>
                                <div class="btn-orange"><a href="#signup">GET IN TOUCH</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(/assets/header/banner2.png);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Smart data made easy</h1>
                                <h2>No coding required.</h2>
                                <div class="btn-orange"><a href="#signup">GET IN TOUCH</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(/assets/header/banner3.png);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Increase your sales by 30%</h1>
                                <h2>Apply email marketing’s best practices.</h2>
                                <div class="btn-orange"><a href="#signup">GET IN TOUCH</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#bannerSlider" data-slide-to="0" class="active"></li>
            <li data-target="#bannerSlider" data-slide-to="1"></li>
            <li data-target="#bannerSlider" data-slide-to="2"></li>
        </ol>
        
    </div><!-- /.carousel -->
</section>