<section class="banner">
    <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(/assets/header/banner1.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>A totally new way</h1>
                                <h2>To publish content to your website or app.</h2>
                                <div class="btn-orange"><a href="#">Try DotSquare for FREE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(/assets/header/banner2.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>.Square Landingpage</h1>
                                <h2>Full responsive, works on all devices!</h2>
                                <div class="btn-orange"><a href="#">Signup Today for FREE!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(/assets/header/banner3.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Simple & Easy</h1>
                                <h2>Clean code easy to customize.</h2>
                                <div class="btn-orange"><a href="#">Try DotSquare for free</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#bannerSlider" data-slide-to="0" class="active"></li>
            <li data-target="#bannerSlider" data-slide-to="1"></li>
            <li data-target="#bannerSlider" data-slide-to="2"></li>
        </ol>
        
    </div><!-- /.carousel -->
</section>